[submodule "themes/adritian-theme"]
	path = themes/adritian-theme
	url = https://github.com/zetxek/adritian-free-hugo-theme.git
[submodule "themes/custom-hugo-theme"]
	path = themes/custom-hugo-theme
	url = git@github.com:jeremy-wayland/custom-hugo-theme.git
	branch = main
